/*
Override with your custom media queries

example:

@media screen and (max-width: 980px){
    h1{
        color: red !important;
    }
}

@media screen and (max-width: 650px){
    h1{
        color: blue !important;
    }
}
@media screen and (max-width: 480px){
    h1{
        color: purple !important;
    }
}

*/


